@model AutoTrader.Data.Item
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

            function lookupProduct(elem) {
                var value = $(elem).val();
                var productListContainer = $("#productListContainer")[0];
                $(productListContainer).empty();
                $.ajax({
                    url: "../../Json/LookupProduct?name=" + value,
                }).done(function (data) {
                    $.each(data, function (index, item) {
                        addItemToList(item);
                    });
                });
            };

            function addItemToList(item){
                var productListContainer = $("#productListContainer")[0];
        $(productListContainer).append("<p id=\"@Model.Id-"+item.Id+"\">");
        $(productListContainer).append("<a href=\"../Product/"+item.Id+"\">" + item.Name + "</a>");
        var existingProducId;
                        @if (Model.Product != null)
                        {
                            @:existingProducId = @Model.Product1.Id;
                        }
        if (existingProducId != item.Id){
            $(productListContainer).append("<a onclick=\"mapProduct(@Model.Id,"+item.Id+")\">MAP</a>");
        }else{
            $(productListContainer).append("<a onclick=\"unmapProduct(@Model.Id,"+item.Id+")\">UNMAP</a>");
        }
        $(productListContainer).append("</p>");
    }

            function addProduct() {
                var value = $("[name='Product.Name']").val();
                $.ajax({
                    url: "../../Json/AddProduct?name=" + value,
                }).done(function (data) {
                    addItemToList(data);
                });
            };
            function mapProduct(itemId, productId) {
                $.ajax({
                    url: "../../Json/MapProduct?itemId=" + itemId+"&productId="+productId,
                }).done(function (data) {
                    var productListContainer = $("#productListContainer")[0];
                    $(productListContainer).find("#"+itemId+"-"+productId).remove();
                    addItemToList(data);
                });
            };
            function unmapProduct(itemId, productId) {
                $.ajax({
                    url: "../../Json/UnmapProduct?itemId=" + itemId+"&productId="+productId,
                }).done(function (data) {
                    var productListContainer = $("#productListContainer")[0];
                    $(productListContainer).find("#"+itemId+"-"+productId).remove();
                    addItemToList(data);
                });
            };
</script>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>

        <dd>
            <input class="text-box single-line" name="Product.Name" type="text" onkeyup="lookupProduct(this);" value="@(Model.Product1 != null ? Model.Product1.Name : "")" />
            <a id="addProduct" onclick="addProduct()">Add Product</a> 
            <div id="productListContainer">

            </div>

            @if (Model.Product1 != null) {
              <script type="text/javascript">  $(function(){ $("[name='Product.Name']").trigger('keyup'); })</script>
            }
        </dd>

    </dl>
</div>

