@model AutoTrader.Data.Item
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

            function lookupProduct(elem) {
                var value = $(elem).val();
                var productListContainer = $("#productListContainer")[0];
                $(productListContainer).empty();
                $.ajax({
                    url: "../../Json/LookupProduct?name=" + value,
                }).done(function (data) {
                    $.each(data, function (index, item) {
                        $(productListContainer).append("<p>");
                        $(productListContainer).append("<a>" + item.Name + "</a>");
                        var existingProducId;
                        @if (Model.Product != null)
                        {
                            @:existingProducId = @Model.Product1.Id;
                        }
                        if (existingProducId != item.Id){
                            $(productListContainer).append("<a onclick=\"mapProduct(@Model.Id,"+item.Id+")\">MAP</a>");
                        }else{
                            $(productListContainer).append("<a onclick=\"unmapProduct(@Model.Id,"+item.Id+")\">UnMAP</a>");
                        }
                        $(productListContainer).append("</p>");
                    });
                });
            };
            function addProduct() {
                var value = $("[name='Product.Name']").val();
                $.ajax({
                    url: "../../Json/AddProduct?name=" + value,
                }).done(function (data) {
                    $(productListContainer).append("<p><a>" + data.Name + "</a></p>");
                });
            };
            function mapProduct() {
                var value = $("[name='Product.Name']").val();
                $.ajax({
                    url: "../../Json/MapProduct?name=" + value,
                }).done(function (data) {
                    $(productListContainer).append("<p><a>" + data.Name + "</a></p>");
                });
            };
            function addProduct() {
                var value = $("[name='Product.Name']").val();
                $.ajax({
                    url: "../../Json/AddProduct?name=" + value,
                }).done(function (data) {
                    $(productListContainer).append("<p><a>" + data.Name + "</a></p>");
                });
            };
</script>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>

        <dd>
            <input class="text-box single-line" name="Product.Name" type="text" onkeyup="lookupProduct(this);" value="" />
            <a onclick="addProduct()">Add Product</a> 
            <div id="productListContainer">

            </div>
        </dd>

    </dl>
</div>

